.light-icon{
    z-index: 6;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
    border-radius: 100%;
    box-shadow: 1px 1px 5px 2px rgba(37, 37, 37, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
    &:hover{
        svg{
            stroke: orange;
        }
        transform: rotateZ(360deg);
    }
    svg{
        stroke: orange;
        height: 30px;
        width: 30px;
        padding: 0.2rem;
    }
}